google-credentials.json
pages.config.json
drafts.json
get_owner.js
split_config.js
get_keys.js
setup_db.js
migrate.js
!public-pages.json

# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/

# Misc
.DS_Store
*.pem

# Env
.env*
!.env.example

# Vercel
.vercel

# Netlify
.netlify/
